* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    #fd945e63,
    #fd945e63
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  max-height: 568px;
  background: #ffffff47;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

@media screen and (max-width: 700px) {
  .todo-app {
    width: 350px;
  }
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-list {
  overflow-y: auto;
  height: 420px;
}

.todo-list::-webkit-scrollbar {
  border: 1px solid #fff;
  padding: 2px 0;
  background-color: #fff;
  width: 10px;
  border-radius: 30px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #fd945e;
  outline: none;
  width: 60%;
  background: #ffffffb8;
  color: #fd945e;;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #fd945e,
    #fd945e
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    #fd945e,
    #fd945e
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
